.main {
  background-color: #FFEFD5;
}

.posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.posts__list {
  width: 100%;
  list-style-type: none;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.posts__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #4682B4;
  border-radius: 12%;
  width: 300px;
  height: 250px;
  &:hover {
    background-color: #2485d5e1;
    transition: 0.2s;
  }
}

.button {
  background-color: #7B68EE;
  width: 50px;
  height: 35px;

  border-radius: 10%;
  &:hover {
    background-color: #9400D3;
    transition: 0.2s;
  }
  &:active {
    background-color: #a82be6;
  }
}

.button__prev {
  justify-content: flex-start;
}

.button__next {
  justify-content: flex-end;
}

.button__clip {
  width: 25px;
  height: 25px;
  background-image: url('/img/delete-svgrepo-com.svg');
  cursor: pointer;
}